/* You can add global styles to this file, and also import other style files */
/*.close-button {
  top: 140px !important;
}

.dg .c input[type=text] {
  margin-top: -5px !important;
}

#stats {
  left: 200px !important;
}*/
